<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://km5store.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>km5store.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Km5Store</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Km5Store</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Km5StoreContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:km5server.database.windows.net,1433;Initial Catalog=Km5ServerConnection;User ID=warmachine@km5server;Password=Ironpatriot68" Name="Data Source=tcp:km5server.database.windows.net,1433;Initial Catalog=Km5ServerConnection;User Id=warmachine@km5server;Password=Ironpatriot68" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Km5Store.Models.Km5StoreContext, Km5Store" MigrationConfiguration="Km5Store.Migrations.Configuration, Km5Store" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Km5StoreContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:km5server.database.windows.net,1433;Initial Catalog=Km5ServerConnection;User Id=warmachine@km5server;Password=Ironpatriot68</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>