<div class="jumbotron">
    <h1>Km. 5 Web Store</h1>
    <p class="lead">Hello, and welcome to our media store. Feel free to explore the capabilities as you browse this site. Enjoy, and make sure to visit our API page section to find what you can do with our resources.</p>
    <p>@Html.ActionLink("Learn more »", "Index", "Help", new { area = "" }, null)</p>
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>Hello, and welcome to our media store. Feel free to explore the API as you browse this site. Enjoy, and make sure to visit our API page section to find what you can do with our API</p>
        <p><a class="btn btn-default">Learn more &raquo;</a>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
